@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Pie

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <img class="card-img" src="@Model.ImageThumbnailUrl" alt="" />
            <h2 class="card-title">@Model.Name</h2>
            <h3 class="card-subtitle text-muted">@Model.Price.ToString("c")</h3>
            <h6 class="card-text text-capitalize text-danger">@Model.Category.CategoryName</h6>
            <p class="card-body">@Model.ShortDescription</p>
            <a class="btn btn-primary float-right" asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">View Cake</a>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary float-left"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-pieId="@Model.PieId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>